*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: rgb(54,170,240);
    background: linear-gradient(0deg, rgba(54,170,240,1) 14%, rgba(16,232,222,1) 62%, rgba(68,181,183,1) 80%);  
    height: 100vh;
}
.own{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    text-align: left;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    display: none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}